# POSEIDON Environment Configuration

# Optional: Map service token (e.g. Mapbox, Maptiler, or custom tile provider).
# If omitted or left blank, POSEIDON automatically defaults to high-reliability,
# open-access Esri / NOAA / GEBCO maritime oceanographic and cartographic basemaps.
VITE_MAP_TOKEN=
